@import url(boxicons.css);
@import url(akar-icons.css);
@import url(responsive.css);
/*------
 NAVEGATION
------ */
.navegation {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}
.navegation a{
    font-size: 1.5rem;
    color: var(--color_nav);
    font-family: var(--font_medium);
}
.switch_contender {
    background: var(--color_input);
    border-radius: 4rem;
    width: 60px;
    padding: .25rem 0rem .25rem .25rem;
    display: flex;
    margin-top: 1rem;
    cursor: var(--cursor_pointer);
}
.switch_l, .switch_r {
    background: var(--color_white);
    border-radius: 50%;
    width: 24px;
    height: 24px;
}
.switch_r{
    margin-left: 1.8rem;
}
.navbar_center, .navbar_right{
    display: flex;
}
.navbar_center {
    position: fixed;
    top: 4.5rem;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
}
.navbar_center ul{
    display: flex;
    background: var(--color_white);
    border-radius: 2rem;
}
.navbar_center ul li a{
    padding: .7rem 1.5rem .7rem 1.5rem;
    display: block;
}
.navbar_center ul li .active{
    background: var(--color_dark);
    color: var(--color_white);
    border-radius: 1.5rem;
    padding: .7rem 1rem .7rem 1rem;
}
.navbar_right li{
    padding: .4rem;
}
.navbar_right .contact{
    background: var(--color_gserbia);
    border-radius: 1rem;
    padding: .45rem;
}
/*------
ABOUT
------ */
.about .big_t{
    font-size: 15rem;
    line-height: 12rem;
}
.about_desc{
    display: grid;
    align-items: center;
    text-align: justify;
}
.profile_me{
    position: relative;
}
.img_scale {
    position: absolute;
    left: 0;
    top: 0;
    right: auto;
    bottom: auto;
    margin-top: 24px;
    margin-left: 24px;
}
/*------
PROJECTS
------ */

/*------
SERVICES
------ */
.services_item{
    padding: .5rem;
}
.services_item img{
    width: 800px;
    height: 700px;
}
.services_desc{
    display: grid;
    align-items: center;
}
/*------
TEAM
------ */

/*------
CONTACT
------ */